/* styles.css */
body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    margin: 0;
    padding: 0;
    background: url('/static/images/bg.jpg') no-repeat center center fixed; /* Background image */
    background-size: cover; /* Cover the entire viewport */
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #333;
    margin-top: 50px;
    font-size: 2.5em;
}

.games-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.game-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 200px;
    transition: transform 0.3s ease;
}

.game-card h2 {
    color: #444;
    font-size: 1.5em;
}

.game-card:hover {
    transform: scale(1.05);
}

.game-link {
    display: inline-block;
    background-color: #947d90;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.game-link:hover {
    background-color:  #d3acd8;
}
